<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('assets/css/brain_strategist_compiled.min.css') }}" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Project name</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                {{ knp_menu_render('BrainStrategistKernelBundle:Builder:mainMenu') }}
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <div class="connexion_box">

                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            {% trans %}Hello{% endtrans %} {{ app.user.username }}
                            {% if (app.user.getProfilePicture is not null) %}
                                <img src="{{ asset(app.user.getProfilePicture) }}" class="img-circle" alt="User Image" />
                            {% endif %}
                            <a href="{{ path('fos_user_security_logout') }}">Disconect</a>

                        {% else %}
                            {{ render(url('hwi_oauth_connect')) }}  <a href="{{ path('fos_user_security_login') }}">Login</a>
                        {% endif %}
                        </div>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container">
        <div class="starter-template">
            {{ wo_render_breadcrumbs() }}
            <br/>
            {% block body %}{% endblock %}
            {% block javascripts %}{% endblock %}
        </div>
    </div><!-- /.container -->
    </body>
</html>
