{% extends 'base.html.twig' %}
{% block title %}BrainStrategist - A free HelpDesk platform using Symfony{% endblock %}
{% block additionnalScripts %}
    <script src="{{ asset('extensions/tinymce/tinymce.min.js') }}"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: '.tinymce',
            min_height: 400,
            plugins: 'code codesample',
            toolbar: 'undo redo styleselect bold italic alignleft aligncenter alignright bullist numlist outdent indent code codesample',
        });
    </script>
{% endblock %}
{% block stylesheets %}

{% endblock %}
{% block body %}

    <div class="col-md-12">
        <table>
            <tr>
                <td width="100">
                    {% if file_exists(asset(full_project_directory~'/'~project.picture)) %}
                        <div class="picture-cover"><img src="{{ asset(project_directory~'/'~project.picture)| imagine_filter('my_thumb') }}" /></div><br/>
                    {% endif %}
                </td>
                <td>
                    <h1>{{ project.organization.name }}/{{ project.name }}</h1>
                </td>
            </tr>
        </table>
        <div class="clearfix"></div>
        <hr/>
        <div class="col-md-2 left-bar">
            <h5>Users of this project</h5>
            <ul class="users_projects">
                {% for user in project.usersProject %}
                    <li>
                        {{ include('BrainStrategistKernelBundle:Users:tiny-block.html.twig', { 'user': user }) }}
                    </li>
                {% endfor  %}
            </ul>
        </div>
        <div  class="col-md-10 ">
            {{ form_start(form, {'method': 'post'}) }}
            {{ form_errors(form) }}
            <div {{ block('widget_container_attributes') }}>
                {% for child in form %}
                    <fieldset class="form-group">
                        {% if  child.vars.name != "_token" %}
                            {{ form_label(child) }}
                        {% endif %}
                        {{ form_widget(child) }}
                    </fieldset>
                {% endfor %}
            </div>

            <br/>
            <div>
                &nbsp; <input type="submit"  class="btn btn-primary" value="{{ 'Create a ticket'|trans }}" />
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/js/brain_strategist_compiled.js') }}"></script>

{% endblock %}