<br/>
{% if  listProjects|length > 0 %}
    <table class="table table-striped">
        <thead class="dark-head-thead">
        <tr>
            <th>Name</th>
            <th>Stats</th>
            <th>Is active ?</th>
            <th>Action</th>
        </tr>
        </thead>
        {% for project in listProjects %}
        <tbody>
        <tr>
            <td>
                <div class="col-md-2">
                    {% if file_exists(asset(full_project_directory~'/'~project.picture)) %}
                        <div class="picture-cover"><a href={{ path('project_access', { 'slug': project.slug }) }}><img src="{{ asset(project_directory~'/'~project.picture)| imagine_filter('my_thumb') }}" /></a></div><br/>
                    {% else %}
                        <a href={{ path('project_access', { 'slug': project.slug }) }}><div class="picture-cover bg-grey" style="background-image: url({{ asset('assets/images/brain-logo-small.png')| imagine_filter('my_thumb') }});"></div></a>
                    {% endif %}
                </div>
                <div class="col-md-10">
                    <b><a href={{ path('project_access', { 'slug': project.slug }) }}>{{ project.name }}</a></b>
                    <br/>
                   Created the {{ project.dateCreation|date("m/d/Y")}}
                        {% if project.creator|length > 0 %}
                            by <b>@{{ project.creator.username }}</b>
                        {% endif %}

                    <br>
                    <small>{{ project.usersProject|length }} member(s) in this project</small>
            </td>
            <td>
                <i>Soon...</i>
            </td>
            <td>
                <div class="switch">
                    <input id="cmn-toggle-{{ project.id}}" class="cmn-toggle cmn-toggle-round" type="checkbox" {% if project.isActive == 1 %} checked="checked"{% endif %} disabled />
                    <label for="cmn-toggle-{{ project.id}}"></label>
                </div>
            </td>
            <td>
                <a href={{ path('project_edit', { 'id': project.id, 'slug':organization.slug }) }} class="btn btn-primary btn-sm" ><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
                <a href={{ path('project_users', { 'slug': project.slug }) }}  class="btn btn-primary btn-sm" ><i class="fa fa-users" aria-hidden="true"></i> Manage Users</a>
                <a href={{ path('project_access', { 'slug':organization.slug }) }} class="btn btn-primary btn-sm" ><i class="fa fa-eye" aria-hidden="true"></i> View</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>You don't have created or being a member of any Project(s).</p>
{% endif %}