<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}BrainStrategist - A free HelpDesk platform using Symfony{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('assets/css/brain_strategist_compiled.min.css') }}" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    {{ include('::header.html.twig') }}
    <div class="container">
        <div class="template">

                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <div class="user_tiny_block pull-left">
                        {% if file_exists(asset(full_project_directory~'/'~ app.user.profilePicture)) %}
                            <div class="picture-cover"><img src="{{ asset(project_directory~'/'~ app.user.profilePicture)| imagine_filter('my_thumb') }}" /></div>
                        {% else %}
                            <div class="picture-cover bg-grey" style="background-image: url({{ asset('assets/images/brain-logo-small.png')| imagine_filter('my_thumb') }});"></div>
                        {% endif %}
                    </div>
                    <br/>
                    <h3>&nbsp;<a href="mailto:{{ user.email }}">{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</a>
                        <a href="{{ path('fos_user_security_logout') }}" class="btn btn-primary pull-right">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                    </h3>
                    <div class="clearfix"></div>
                {% else %}
                    <a href="{{ path('default') }}" class="btn btn-primary pull-right">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                {% endif %}
            {% if app.request.hasPreviousSession %}
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="flash-{{ type }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}

            <div>
                {% block fos_user_content %}
                {% endblock fos_user_content %}
            </div>
        </div>
    </div>
    {{ include('::footer.html.twig') }}
    </body>
</html>
