{% extends 'base.html.twig' %}
{% block title %}BrainStrategist - A free HelpDesk platform using Symfony{% endblock %}
{% block additionnalScripts %}
    <script src="{{ asset('extensions/tinymce/tinymce.min.js') }}"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: '.tinymce',
            min_height: 400,
            plugins: 'code codesample',
            toolbar: 'undo redo styleselect bold italic alignleft aligncenter alignright bullist numlist outdent indent code codesample',
        });
    </script>
{% endblock %}
{% block stylesheets %}
{% endblock %}
{% block body %}
        <div class="col-md-12">
        <h1 class="pull-right">My Dashboard</h1>
        </div>
        <div class="col-md-2 left-bar">
            {% set menu = knp_menu_get('BrainStrategistKernelBundle:Builder:UserDashboardMenu' ) %}
            {{ knp_menu_render(menu, {'allow_safe_labels': true}) }}
        </div>
        <div  class="col-md-10 ">
            {% if tickets is defined %}
                {% if viewtype is defined %}
                    {{ include('BrainStrategistProjectBundle:Ticket:'~viewtype~'.html.twig', { 'tickets': tickets }) }}
                {% else %}
                        {{ include('BrainStrategistProjectBundle:Ticket:list.html.twig', { 'tickets': tickets }) }}
                {% endif %}
            {% endif %}
        </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/js/brain_strategist_compiled.js') }}"></script>
{% endblock %}